*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

nav h3{
    background-color: green;
    color:white;
}

#links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#links li{
    list-style-type: none;
}
#links a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    background-color: green;
    color: black;
}

main{
    display: flex;
}

.left-panel{
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;    
}

section{
    list-style-position: inside;
    border: black solid 3px;
    margin-bottom: 5px;
}

section ul{
    padding: 10px;
}

.right-panel{
    margin: 10px;
    padding: 5px;
    width: 40%;
    border: black solid 3px;
}